/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* changed background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form {
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.input-field label {
    display: block;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

.current-time {
    margin-top: 20px;
}

#tempat {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
